<form action="/ask" method="get">
  <input type="text" name="question" id="question" placeholder="Ta question bleubite !" />
  <button type="submit">Submit</button>
</form>

<ul>
  <li> 
    <h2><%= @question %></h2>
    <p> You </p>
  </li>
  <li> 
    <h2><%= @answer %></h2>
    <p> You're fuckin' freaky koach !</p>
  </li>



</ul>
